core/config.php
modules/images/files/images*/*
modules/images/files/googleBack/*
/custom
/themes/*
!/themes/README
/cache
blog/
Thumbs.db
*.log
*.txt
*.sql
*.tar
*.tgz
*.tar.gz
*.zip
*.rar
.directory
*.orig
modules/images/admin/tools/imgInserter/tmp/
modules/images/admin/download/daemon/tmp/
modules/admin/keywords/daemon/tmp/
/tmp/*
!tmp/README
*.sublime-*
.idea