.breadcrumbs {margin-top: 12px;margin-bottom: 8px;}
.breadcrumbs a {background-color: #E6E6E6;color: #607586 !important;font-size: 0.97em;padding: 2px 5px;text-decoration: none;text-transform: uppercase;}
.breadcrumbs span{text-transform: uppercase;font-weight: bold;color: #607586;}