.social-buttons #fb-share-bottom {
	background: rgba(0, 0, 0, 0) linear-gradient(#4c69ba, #3b55a0) repeat scroll 0 0;
	border: none;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	text-shadow: 0 -1px 0 #354c8c;
	white-space: nowrap;
	display: inline-block;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 11px;
	vertical-align: top;
	padding: 0 8px;
}
.social-buttons #fb-share-bottom:hover {
	background: rgba(0, 0, 0, 0) linear-gradient(#5b7bd5, #4864b1) repeat scroll 0 0;
	border-color: #5874c3 #4961a8 #41599f;
}
.social-buttons .reddit-share iframe{height: 20px;}